{%- for group, args in splunkforwarder.inputs['monitor'].items() %}
[default]
host = {{ grains['id'] }}.infra.blueconic.net

[monitor:://{{ args.monitor }}]
{% for n, v in args.items()|sort -%}
{% if n != 'monitor' -%}
{{ n }} = {{ v }}
{% endif %}
{%- endfor %}

{%- endfor %}
