# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# Set default values.
---
splunkforwarder:
  pkg:
    # Package type can be 'url', 'pkg', or 'tar'
    # If set to 'url' edit the Debian.yaml or RedHat.yaml file for download URL.
    type: 'url'

    # If set to pkg above define the pkg name and version
    name: splunkforwarder
    version: 8.2.6

  # Systemd or initd OS
  boottype: 'systemd'

  # SplunkForwarder directory ownership and runas user
  user: splunk
  user_id: 4005
  group: splunk
  group_id: 4005

  # Configure a local user. Creates user and group defined above.
  # This should not be needed as the splunkforwarder install now configures this.
  createlocaluser: 'false'

  # Configure Certs
  configcerts: 'false'
  #self_cert_filename: selfsignedcert.pem
  #certs:
  #  cacert.pem:
  #    content: put your cert content here
  #  selfsignedcert.pem:
  #    content: put your cert content here

  # Configure indexer discovery
  indexer_discovery:
    enabled: 'true'
    defaultgroup: 'target_group1'
    groups:
      target_group1:
        name: 'splunk-cm-<Region>-001'
        master_uri: 'splunk-cm-<Region>-001.infra.blueconic.net:8089'
        pass4SymmKey: 'changeme'
        useACK: 'true'
        autoLBFrequency: 40
        forceTimebasedAutoLB: 'true'
        ssl: 'false'
        clientCert: '<path to  client certificate>'
        sslPassword: '<CAcert password>'

  # Splunk Deployment Server. Configures deploymentclient.conf
  deploymentserver:
    enabled: 'true'
    client_name: '<Client Name>'
    deployment: 'splunk-ds-001.infra.blueconic.net:8089'